clientes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tienda.com/clientes"
xmlns:cli="http://tienda.com/clientes" elementFormDefault="qualified"> 
	<xs:element name="cliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nombre" type="xs:string"/>
				<xs:element name="email" type="xs:string"/>
				<xs:element name="edad">
					<xs:simpleContent>
						<xs:restriction base="xs:integer">
						<xs:minInclusive value="18"/>
						<xs:maxInclusive value="120"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:element>
				<xs:element name="telefono">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:pattern value="[0-9]{9}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>