pedido.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tienda.com/pedidos"
xmlns:ped="http://tienda.com/pedidos" elementFormDefault="unqualified"> 
	<xs:element name="pedido">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="http://tienda.com/clientes"/>
				<xs:element ref="http://tienda.com/productos"/>
				<xs:element name="observaciones" type="xs:string" minOccurs='0' maxOccurs='1'/>
				<xs:element name="total"/>
			</xs:sequence>
			<xs:attribute name="codigo" type="xs:string" use="required"/>
			<xs:attribute name="estado" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>