productos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tienda.com/productos"
xmlns:prod="http://tienda.com/productos" elementFormDefault="qualified"> 
	<xs:element name="productos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="producto">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nombre" type="xs:string"/>
							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>